.text {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
}
.filter {
  width: 294px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #f89615;
  margin-bottom: 12px;
  background-color: inherit;
  color: #f1b465;
}
