.list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  padding-left: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  text-align: start;
  border-radius: 4px;
  border: 2px solid #3a2d2d;
  padding: 8px;
}
